# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [32]:
city_data_df = pd.read_csv("city_data.csv")
city_data_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Umm Kaddadah,13.6017,26.6876,311.27,19,76,2.99
1,1,Hasaki,35.7333,140.8333,293.37,92,100,8.96
2,2,Puerto Ayora,-0.7393,-90.3518,297.90,85,81,3.13
3,3,Okhotsk,59.3833,143.3000,273.45,89,34,2.27
4,4,São Filipe,14.8961,-24.4956,296.91,77,70,3.52
...,...,...,...,...,...,...,...,...
565,565,Upington,-28.4478,21.2561,295.48,19,0,10.49
566,566,Rawlins,41.7911,-107.2387,290.27,44,1,7.13
567,567,Tessalit,20.1986,1.0114,315.59,11,33,6.94
568,568,Ixtapa,20.7000,-105.2000,297.72,53,1,0.00
569,569,Marfino,55.7028,37.3822,288.76,72,75,4.63

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [33]:
gmaps.configure(api_key=g_key)

In [34]:
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"].astype(float)
fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)
fig.add_layer(heatmap_layer)
print(fig)

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
# Narrow down the cities to fit weather conditions
# Max Temp lower than 80 degrees but higher than 70.
# Wind speed less than 10mph
# Zero clouds
# Drop any rows that do not have all 3-conditions
# Looking for nice weather for vacation

nice_temps_df = pd.DataFrame(city_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (nice_temps_df["Max Temp"]<= 80) & (nice_temps_df["Max Temp"] > 70)
wind_speed = nice_temps_df["Wind Speed"] < 10
cloudiness = nice_temps_df["Cloudiness"]

# nice_temps_df
nice_temps_df[max_temp & wind_speed & cloudiness]
print(nice_temps_df)

             City  Max Temp  Wind Speed  Cloudiness
0    Umm Kaddadah    311.27        2.99          76
1          Hasaki    293.37        8.96         100
2    Puerto Ayora    297.90        3.13          81
3         Okhotsk    273.45        2.27          34
4      São Filipe    296.91        3.52          70
..            ...       ...         ...         ...
565      Upington    295.48       10.49           0
566       Rawlins    290.27        7.13           1
567      Tessalit    315.59        6.94          33
568        Ixtapa    297.72        0.00           1
569       Marfino    288.76        4.63          75

[570 rows x 4 columns]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [40]:
hotel_df = pd.DataFrame(city_data_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""

hotel_df

             City  Country      Lat       Lng Hotel Name
0    Umm Kaddadah      NaN  13.6017   26.6876
1          Hasaki      NaN  35.7333  140.8333
2    Puerto Ayora      NaN  -0.7393  -90.3518
3         Okhotsk      NaN  59.3833  143.3000
4      São Filipe      NaN  14.8961  -24.4956
..            ...      ...      ...       ...        ...
565      Upington      NaN -28.4478   21.2561
566       Rawlins      NaN  41.7911 -107.2387
567      Tessalit      NaN  20.1986    1.0114
568        Ixtapa      NaN  20.7000 -105.2000
569       Marfino      NaN  55.7028   37.3822

[570 rows x 5 columns]

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure